* {
  box-sizing: border-box;
}
#grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
}

.mole {
  background-color: blue;
}
